In [10]:
#

import pandas as pd
import matplotlib as plot
import numpy as np
from IPython.display import Markdown as md
from IPython.core.display_functions import display

In [11]:
#
BASE_DIRECTORY="/Users/ammajohn/PycharmProjects/resilienceHub/data_files/"
RDS_DATA="RDS_2022_07_04_00_00_22.csv"
ECS_DATA="ecs_2022_07_04_00_00_22.csv"
ELB_DATA="elbv2_2022_07_04_00_00_22.csv"
KINESIS_DATA="kinesis_2022_07_04_00_00_22.csv"
ASG_DATA="asg_2022_07_04_00_00_22.csv"

In [12]:
# Data Preparation
pd.options.display.float_format = '{:,.0f}'.format
#TODO put in general format
rds_df = pd.read_csv(BASE_DIRECTORY+RDS_DATA)
ecs_df = pd.read_csv(BASE_DIRECTORY+ECS_DATA)
elbv2_df = pd.read_csv(BASE_DIRECTORY+ELB_DATA)

kinesis_df = pd.read_csv(BASE_DIRECTORY+KINESIS_DATA)
asg_df = pd.read_csv(BASE_DIRECTORY+ASG_DATA)
pd.set_option('display.max_rows', None)
pd.set_option('display.max_rows', 500)

# Calculate RDS Summary
rds_ha_df = rds_df.loc[(rds_df['Account Name'] == 'aws-red'), ["Product", "Why Triggered "]]
table = rds_ha_df.groupby(by=["Product"]).agg(count=("Product", "count"))
rds_table=table.sort_values(by=['count'], ascending=False)

# Calculate ASG Summary
asg_ha_df =asg_df.loc[(asg_df['Account Name'] == 'aws-red') & ((asg_df['min Size']+asg_df['max Size']+asg_df['Desired Size'])> 0)]
table = asg_ha_df.groupby(by=["Product"]).agg(count=("Product", "count"))
asg_table=table.sort_values(by=['count'], ascending=False)

# Calculate ELB Summary
elb_ha_df = elbv2_df.loc[(elbv2_df['Account Name'] == 'aws-red'), ["Product", "AZ Count", "Why Triggered "]]
table = elb_ha_df.groupby(by=["Product"]).agg(count=("Product", "count"))
elb_table=table.sort_values(by=['count'], ascending=False)

# Calculate Kinesis Sumary
kin_ha_df =kinesis_df.loc[(kinesis_df['Account Name'] == 'aws-red')]
table = kin_ha_df.groupby(by=["Product"]).agg(count=("Product", "count"))
kin_table=table.sort_values(by=['count'], ascending=False)
#
# # Calculate ECS Sumary
ecs_ha_df =ecs_df.loc[(ecs_df['Account Name'] == 'aws-red') ]
table = ecs_ha_df.groupby(by=["Product"]).agg(count=("Product", "count"))
ecs_table=table.sort_values(by=['count'], ascending=False)

# Merge Tables
summary_ha_df = pd.merge(rds_table, asg_table, on="Product", how="outer")
summary_ha_df.rename(columns={'count_x': 'rds_count', 'count_y':'asg_count'}, inplace=True)
summary_ha_df = pd.merge(summary_ha_df, elb_table, on="Product", how="outer")
summary_ha_df.rename(columns={'count': 'elb_count'}, inplace=True)
summary_ha_df = pd.merge(summary_ha_df, kin_table, on="Product", how="outer")
summary_ha_df.rename(columns={'count': 'kin_count'}, inplace=True)
summary_ha_df = pd.merge(summary_ha_df, ecs_table, on="Product", how="outer")
summary_ha_df.rename(columns={'count': 'ecs_count'}, inplace=True)
summary_ha_df = summary_ha_df.fillna(0)

# Production Related Issues (Red Account)

**NOTES:**
- There are a fair number of resources untagged

In [13]:
#
summary_ha_df.fillna(0, inplace=True)
summary_ha_df['Total'] = summary_ha_df['rds_count'] + summary_ha_df['elb_count'] + summary_ha_df['asg_count']+summary_ha_df['kin_count']+summary_ha_df['ecs_count']
#summary_ha_df = summary_ha_df.groupby(by=['Product']).agg(rds_countx=("rds_count","sum"), 
#                                                          elb_countx=("elb_count","sum"))
# (by=["Product"]).agg(count=("Product", "count"))
sum_ha_df = summary_ha_df.groupby(by=['Product']).sum()
sum_ha_df.sort_values(by="Total", ascending=False, inplace=True)
display(sum_ha_df)

grand_total = summary_ha_df['Total'].sum()
total_products = len(summary_ha_df.index)
display(md(f"In total there are {grand_total} defects or warnings to review."))
display(md(f"In total there are {total_products} depts with Multi-AZ related errors."))

,rds_count,asg_count,elb_count,kin_count,ecs_count,Total
Product,,,,,,
None,9,24,0,6,0,39
StudyManagement,0,17,0,0,0,17
dsctgbatch,0,14,0,0,0,14
subjectdataintegration,0,6,0,4,0,10
batch,0,10,0,0,0,10
dalton,9,0,0,0,0,9
Data Fabric Semantic API,6,0,0,0,0,6
mauth,0,4,0,0,0,4
mccadmin,0,4,0,0,0,4
formian,0,4,0,0,0,4
medssvcuuidgen,0,4,0,0,0,4
milestone,0,0,0,4,0,4
ingestionendpoints,0,4,0,0,0,4
coder,4,0,0,0,0,4
shadowbroker,4,0,0,0,0,4
Subjects,0,4,0,0,0,4
pentahoraveods,0,3,0,0,0,3
rave-omics,0,3,0,0,0,3
balance,0,3,0,0,0,3
patientcloudsettings,0,2,0,0,0,2
minotaur,0,2,0,0,0,2
mingest,0,0,0,2,0,2
rods,2,0,0,0,0,2
slap,2,0,0,0,0,2
sloginator,2,0,0,0,0,2
mcatalog,0,2,0,0,0,2
phoenix,0,2,0,0,0,2
Dalton,0,2,0,0,0,2
ampridatvir,2,0,0,0,0,2
appconnect,0,0,0,2,0,2
ecs,0,2,0,0,0,2
casmedidata,0,2,0,0,0,2
checkmate,0,2,0,0,0,2
coderoutbound,2,0,0,0,0,2
juiblex,2,0,0,0,0,2
csaservice,2,0,0,0,0,2
massaudittransporter,0,1,0,0,0,1
crunch,1,0,0,0,0,1
bakery,0,1,0,0,0,1
security,0,0,1,0,0,1
neobo4,1,0,0,0,0,1
modmingestion,0,1,0,0,0,1
devtoolsprometheus,0,1,0,0,0,1
diagnosesupportportal,1,0,0,0,0,1
eureka,0,1,0,0,0,1
medistrano,0,0,0,1,0,1
harpy,1,0,0,0,0,1
infoblox,0,0,1,0,0,1
imedidata,0,1,0,0,0,1

In total there are 197.0 defects or warnings to review.

In total there are 49 depts with Multi-AZ related errors.

# Appendix

## ASG Defects


**NOTES:**
- There are many ASG with 0 min, max, and desired sizes.  There is no cost to have these in this conditon and will not affect Medidata resiliency.  AWS does recommend removing those ASG which do nothing in order to remove unnessary components which could result in confusion in the future.
- Setting Desired Size=0 means the normal instance count is 0 and on failure, service unavailable until an additional instance has ramped up.  For sensitive applications make certain to always have at least 1 running instance and a max size larger than the desired size.  Use Desired Size=0 only for utlity and other non-critical tasks.
- Desired Size=1 means that there is not an instance to fall back to.  DO NOT USE this option for critical tasks.

**QUESTIONS:**
- Are any of these ASGs inactive?
- Are any of these ASGs required for important production applications?
- Are there any issues to removing the ASGs with min,max,and desired equal to 0?

In [14]:
#
for index,row in summary_ha_df.iterrows():
    k = index
    if (k != "None") and (row['asg_count'] > 0):
        hdr = f"### {k} ASG Defects Details"
        df =asg_df.loc[(asg_df['Account Name'] == 'aws-red') & (asg_df['Product'] == k) ]
        df = df.drop(['Default Cooldown', 'Account Number', 'Active Instances','Account Name', 'Propagate Product Tag At Launch'], axis=1)
        if len(df.index) > 0:
            display(md(hdr))
            display(df)

display(md("### ASG Defects by Reason"))
red_asg_df =asg_df.loc[(asg_df['Account Name'] == 'aws-red')]
table = red_asg_df.groupby(by=["Why Triggered "]).agg(count=("Product", "count"))
table=table.sort_values(by=['count'], ascending=False)
table

### StudyManagement ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
950,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
951,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
952,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,1,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
953,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,1,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
954,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,1,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
955,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
956,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
957,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,2,1,3,EC2,StudyManagement,MinSize should be 2 or greater.
958,us-east-1,study-management-queue-innovate-3-ComputeEnvir...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
959,us-east-1,study-management-queue-production-3-ComputeEnv...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
960,us-east-1,study-management-queue-production-3-ComputeEnv...,0,1,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
961,us-east-1,study-management-queue-production-3-ComputeEnv...,0,11,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
962,us-east-1,study-management-queue-production-3-ComputeEnv...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
963,us-east-1,study-management-queue-production-3-ComputeEnv...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
964,us-east-1,study-management-queue-production-3-ComputeEnv...,0,4,1,3,EC2,StudyManagement,MinSize should be 2 or greater.
965,us-east-1,study-management-queue-production-3-ComputeEnv...,0,2,0,3,EC2,StudyManagement,MinSize should be 2 or greater.
966,us-east-1,study-management-queue-production-3-ComputeEnv...,0,1,0,3,EC2,StudyManagement,MinSize should be 2 or greater.

### dsctgbatch ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
721,us-east-1,OmicsBatchEc2ComputeEnv-169a8c7d8ec0c19-asg-45...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
722,us-east-1,OmicsBatchEc2ComputeEnv-169a8c7d8ec0c19-asg-e0...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
723,us-east-1,OmicsBatchEc2ComputeEnv-2e6b086fe1a8276-asg-6e...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
724,us-east-1,OmicsBatchEc2ComputeEnv-2e6b086fe1a8276-asg-b8...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
725,us-east-1,OmicsBatchEc2ComputeEnv-2e6b086fe1a8276-asg-bb...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
726,us-east-1,OmicsBatchEc2ComputeEnv-69c36eaaa8cbea0-asg-8c...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
928,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-1a...,0,2,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
929,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-2d...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
930,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-3f...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
931,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-e5...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
932,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-e7...,0,2,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
933,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-ea...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
934,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-ed...,0,1,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.
935,us-east-1,ds-ctg-batch-env-ondemand-prod-innovate-asg-f2...,0,2,0,3,EC2,dsctgbatch,MinSize should be 2 or greater.

### batch ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
940,us-east-1,production-asg-94465830-a865-370e-8b19-b1a5263...,0,1,0,2,EC2,batch,MinSize should be 2 or greater.
941,us-east-1,production-csaservice-asg-44c0838d-c9fe-3b9a-b...,0,2,1,3,EC2,batch,MinSize should be 2 or greater.
942,us-east-1,production-largevolume202011150411258376000000...,0,1,0,3,EC2,batch,MinSize should be 2 or greater.
943,us-east-1,production-largevolume202011150411258376000000...,0,1,0,3,EC2,batch,MinSize should be 2 or greater.
944,us-east-1,production-largevolume202011150411258376000000...,0,1,0,3,EC2,batch,MinSize should be 2 or greater.
945,us-east-1,production-largevolume202011150411258376000000...,0,2,0,3,EC2,batch,MinSize should be 2 or greater.
946,us-east-1,production-largevolume202011150411258376000000...,0,1,0,3,EC2,batch,MinSize should be 2 or greater.
947,us-east-1,production-largevolume202011150411258376000000...,0,2,0,3,EC2,batch,MinSize should be 2 or greater.
948,us-east-1,production-largevolume202011150411258376000000...,0,2,1,3,EC2,batch,MinSize should be 2 or greater.
949,us-east-1,production-largevolume202011150411258376000000...,0,2,1,3,EC2,batch,MinSize should be 2 or greater.

### subjectdataintegration ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
912,us-east-1,corral-subjectdataintegration-innovate-VPC_app,0,1,0,3,EC2,subjectdataintegration,MinSize should be 2 or greater.
913,us-east-1,corral-subjectdataintegration-innovate-VPC_kin...,0,1,0,3,EC2,subjectdataintegration,MinSize should be 2 or greater.
914,us-east-1,corral-subjectdataintegration-innovate-VPC_sid...,0,1,0,3,EC2,subjectdataintegration,MinSize should be 2 or greater.
915,us-east-1,corral-subjectdataintegration-production-VPC_app,0,1,0,3,EC2,subjectdataintegration,MinSize should be 2 or greater.
916,us-east-1,corral-subjectdataintegration-production-VPC_k...,0,1,0,3,EC2,subjectdataintegration,MinSize should be 2 or greater.
917,us-east-1,corral-subjectdataintegration-production-VPC_s...,0,1,0,3,EC2,subjectdataintegration,MinSize should be 2 or greater.

### mccadmin ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
858,us-east-1,corral-mccadmin-bolt-app,0,0,0,3,ELB,mccadmin,MinSize should be 2 or greater. MaxSize should...
859,us-east-1,corral-mccadmin-bolt-background,0,0,0,3,EC2,mccadmin,MinSize should be 2 or greater. MaxSize should...
860,us-east-1,corral-mccadmin-bolt-notification,0,0,0,3,ELB,mccadmin,MinSize should be 2 or greater. MaxSize should...
861,us-east-1,corral-mccadmin-innovate-VPC_App,0,1,0,3,ELB,mccadmin,MinSize should be 2 or greater.
862,us-east-1,corral-mccadmin-innovate-VPC_Background,0,1,0,3,EC2,mccadmin,MinSize should be 2 or greater.
863,us-east-1,corral-mccadmin-production-VPC_App,0,1,0,3,ELB,mccadmin,MinSize should be 2 or greater.
864,us-east-1,corral-mccadmin-production-VPC_Background,0,1,0,3,EC2,mccadmin,MinSize should be 2 or greater.

### ingestionendpoints ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
835,us-east-1,corral-ingestionendpoints-innovate-VPC_app,0,1,0,3,ELB,ingestionendpoints,MinSize should be 2 or greater.
836,us-east-1,corral-ingestionendpoints-innovate-worker,0,1,0,3,EC2,ingestionendpoints,MinSize should be 2 or greater.
837,us-east-1,corral-ingestionendpoints-production-VPC_app,0,1,0,3,EC2,ingestionendpoints,MinSize should be 2 or greater.
838,us-east-1,corral-ingestionendpoints-production-worker,0,1,0,3,EC2,ingestionendpoints,MinSize should be 2 or greater.

### formian ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
705,eu-west-1,corral-formian-production_euwest1-app,0,0,0,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...
706,eu-west-1,corral-formian-production_euwest1-formian,1,1,1,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...
710,eu-central-1,corral-formian-production_eucentral1-app,0,0,0,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...
711,eu-central-1,corral-formian-production_eucentral1-formian,1,1,1,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...
936,us-east-1,formian-production-autoscaler,1,2,2,2,EC2,formian,MinSize should be 2 or greater. maxSize cannot...
967,us-west-1,corral-formian-production_uswest1-formianU16,0,0,0,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...
977,us-west-2,corral-formian-production_uswest2-Ubuntu16Form...,0,0,0,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...
983,us-west-2,formian-productionuswest2-autoscaler,1,1,1,2,EC2,formian,MinSize should be 2 or greater. MaxSize should...

### medssvcuuidgen ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
867,us-east-1,corral-medssvcuuidgen-innovate-mAuth,1,2,1,3,ELB,medssvcuuidgen,MinSize should be 2 or greater.
868,us-east-1,corral-medssvcuuidgen-innovate-web2,2,4,4,3,ELB,medssvcuuidgen,maxSize cannot be equal to or less than the de...
869,us-east-1,corral-medssvcuuidgen-production-mAuth,1,2,1,2,ELB,medssvcuuidgen,MinSize should be 2 or greater.
870,us-east-1,corral-medssvcuuidgen-production-web2,2,4,4,2,ELB,medssvcuuidgen,maxSize cannot be equal to or less than the de...

### mauth ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
851,us-east-1,corral-mauth-bolt-app,0,0,0,3,ELB,mauth,MinSize should be 2 or greater. MaxSize should...
852,us-east-1,corral-mauth-innovate-VPC_app,0,1,0,3,ELB,mauth,MinSize should be 2 or greater.
853,us-east-1,corral-mauth-production-VPC_app,0,1,0,3,ELB,mauth,MinSize should be 2 or greater.
981,us-west-2,corral-mauth-innovateuswest2_uswest2-innovate-app,1,1,1,2,ELB,mauth,MinSize should be 2 or greater. MaxSize should...
982,us-west-2,corral-mauth-production_uswest2-app,0,1,0,2,ELB,mauth,MinSize should be 2 or greater.

### Subjects ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
762,us-east-1,corral-Subjects-innovate-VPC_app,0,1,0,3,EC2,Subjects,MinSize should be 2 or greater.
763,us-east-1,corral-Subjects-innovate-VPC_worker,0,1,0,3,EC2,Subjects,MinSize should be 2 or greater.
764,us-east-1,corral-Subjects-production-VPC_app,0,1,0,3,EC2,Subjects,MinSize should be 2 or greater.
765,us-east-1,corral-Subjects-production-VPC_worker,0,1,0,3,EC2,Subjects,MinSize should be 2 or greater.

### pentahoraveods ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
882,us-east-1,corral-pentahoraveods-innovate-etl-incremental...,1,15,15,3,ELB,pentahoraveods,MinSize should be 2 or greater. maxSize cannot...
883,us-east-1,corral-pentahoraveods-innovate-etl-initial-ubu...,1,5,1,3,ELB,pentahoraveods,MinSize should be 2 or greater.
884,us-east-1,corral-pentahoraveods-production-etl-increment...,1,15,15,3,ELB,pentahoraveods,MinSize should be 2 or greater. maxSize cannot...

### balance ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
772,us-east-1,corral-balance-innovate-VPC_App,0,0,0,3,ELB,balance,MinSize should be 2 or greater. MaxSize should...
773,us-east-1,corral-balance-innovate-background_VPC,0,0,0,3,EC2,balance,MinSize should be 2 or greater. MaxSize should...
774,us-east-1,corral-balance-innovate-notifications_VPC,0,0,0,3,EC2,balance,MinSize should be 2 or greater. MaxSize should...
775,us-east-1,corral-balance-production-VPC_App,0,0,0,3,ELB,balance,MinSize should be 2 or greater. MaxSize should...
776,us-east-1,corral-balance-production-background_VPC,0,0,0,3,EC2,balance,MinSize should be 2 or greater. MaxSize should...
777,us-east-1,corral-balance-production-notifications_VPC,0,0,0,3,EC2,balance,MinSize should be 2 or greater. MaxSize should...
968,us-west-2,corral-balance-productionuswest2_uswest2-produ...,0,6,0,2,ELB,balance,MinSize should be 2 or greater.
969,us-west-2,corral-balance-productionuswest2_uswest2-produ...,0,2,0,2,EC2,balance,MinSize should be 2 or greater.
970,us-west-2,corral-balance-productionuswest2_uswest2-produ...,0,2,0,2,EC2,balance,MinSize should be 2 or greater.

### rave-omics ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
937,us-east-1,omic-production-od-asg-3fba8e7b-8b13-3e3a-adfe...,0,2,0,3,EC2,rave-omics,MinSize should be 2 or greater.
938,us-east-1,omic-production-od-asg-6747cb1a-6226-3dde-b10c...,0,1,0,3,EC2,rave-omics,MinSize should be 2 or greater.
939,us-east-1,omic-production-od-asg-d01880ca-0594-3427-ae84...,0,4,0,3,EC2,rave-omics,MinSize should be 2 or greater.

### mcatalog ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
856,us-east-1,corral-mcatalog-innovate-VPC_app,0,1,0,3,ELB,mcatalog,MinSize should be 2 or greater.
857,us-east-1,corral-mcatalog-production-VPC_app,0,1,0,3,ELB,mcatalog,MinSize should be 2 or greater.

### minotaur ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
871,us-east-1,corral-minotaur-innovate-VPC_app,0,1,0,3,EC2,minotaur,MinSize should be 2 or greater.
872,us-east-1,corral-minotaur-production-VPC_app,0,1,0,3,EC2,minotaur,MinSize should be 2 or greater.

### phoenix ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
885,us-east-1,corral-phoenix-innovate-app,0,3,0,3,ELB,phoenix,MinSize should be 2 or greater.
886,us-east-1,corral-phoenix-production-app,0,1,0,3,ELB,phoenix,MinSize should be 2 or greater.

### patientcloudsettings ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
880,us-east-1,corral-patientcloudsettings-innovate-VPC_app,0,2,0,3,ELB,patientcloudsettings,MinSize should be 2 or greater.
881,us-east-1,corral-patientcloudsettings-production-VPC_app,0,1,0,3,ELB,patientcloudsettings,MinSize should be 2 or greater.

### Dalton ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
743,us-east-1,corral-Dalton-bolt-access_control_lists,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
744,us-east-1,corral-Dalton-bolt-app,0,0,0,3,ELB,Dalton,MinSize should be 2 or greater. MaxSize should...
745,us-east-1,corral-Dalton-bolt-background,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
746,us-east-1,corral-Dalton-innovate-VPC_app,0,0,0,3,ELB,Dalton,MinSize should be 2 or greater. MaxSize should...
747,us-east-1,corral-Dalton-innovate-VPC_background,0,0,0,3,ELB,Dalton,MinSize should be 2 or greater. MaxSize should...
748,us-east-1,corral-Dalton-innovate-VPC_maudit_transporter,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
749,us-east-1,corral-Dalton-innovate-access_control_lists,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
750,us-east-1,corral-Dalton-innovate-neptune_migration,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
751,us-east-1,corral-Dalton-innovate-shadow,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
752,us-east-1,corral-Dalton-production-VPC_app,0,0,0,3,ELB,Dalton,MinSize should be 2 or greater. MaxSize should...
753,us-east-1,corral-Dalton-production-VPC_background,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
754,us-east-1,corral-Dalton-production-VPC_maudit_transporter,0,4,0,3,EC2,Dalton,MinSize should be 2 or greater.
755,us-east-1,corral-Dalton-production-access_control_lists,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
756,us-east-1,corral-Dalton-production-neptune_migration,0,0,0,3,EC2,Dalton,MinSize should be 2 or greater. MaxSize should...
757,us-east-1,corral-Dalton-production-shadow,0,1,0,3,EC2,Dalton,MinSize should be 2 or greater.

### ecs ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
794,us-east-1,corral-ecs-production-edge1,0,3,0,3,EC2,ecs,MinSize should be 2 or greater.
795,us-east-1,corral-ecs-production-stable5,2,8,8,3,EC2,ecs,maxSize cannot be equal to or less than the de...

### checkmate ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
785,us-east-1,corral-checkmate-bolt-app,0,0,0,3,ELB,checkmate,MinSize should be 2 or greater. MaxSize should...
786,us-east-1,corral-checkmate-innovate-vpc_app,0,1,0,3,ELB,checkmate,MinSize should be 2 or greater.
787,us-east-1,corral-checkmate-production-VPC_App,0,1,0,3,ELB,checkmate,MinSize should be 2 or greater.

### casmedidata ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
779,us-east-1,corral-casmedidata-innovate-VPC_ActivityTracker,0,0,0,3,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
780,us-east-1,corral-casmedidata-innovate-VPC_App,0,0,0,3,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
781,us-east-1,corral-casmedidata-innovate-VPC_Background,0,0,0,3,EC2,casmedidata,MinSize should be 2 or greater. MaxSize should...
782,us-east-1,corral-casmedidata-production-VPC_ActivityTracker,0,0,0,3,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
783,us-east-1,corral-casmedidata-production-VPC_App,0,0,0,3,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
784,us-east-1,corral-casmedidata-production-VPC_Background,0,0,0,3,EC2,casmedidata,MinSize should be 2 or greater. MaxSize should...
971,us-west-2,corral-casmedidata-innovateuswest2_uswest2-inn...,0,0,0,2,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
972,us-west-2,corral-casmedidata-innovateuswest2_uswest2-inn...,0,0,0,2,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
973,us-west-2,corral-casmedidata-innovateuswest2_uswest2-inn...,0,0,0,2,EC2,casmedidata,MinSize should be 2 or greater. MaxSize should...
974,us-west-2,corral-casmedidata-productionuswest2_uswest2-p...,0,0,0,2,ELB,casmedidata,MinSize should be 2 or greater. MaxSize should...
975,us-west-2,corral-casmedidata-productionuswest2_uswest2-p...,0,2,0,2,ELB,casmedidata,MinSize should be 2 or greater.
976,us-west-2,corral-casmedidata-productionuswest2_uswest2-p...,0,2,0,2,EC2,casmedidata,MinSize should be 2 or greater.

### massaudittransporter ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
720,us-east-1,AWSBatch-massaudittransporter-production-trans...,0,1,0,3,EC2,massaudittransporter,MinSize should be 2 or greater.

### eureka ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
796,us-east-1,corral-eureka-bolt-app,0,2,0,3,ELB,eureka,MinSize should be 2 or greater.
797,us-east-1,corral-eureka-innovate-VPC_app,0,0,0,3,ELB,eureka,MinSize should be 2 or greater. MaxSize should...
798,us-east-1,corral-eureka-production-VPC_app,0,0,0,3,ELB,eureka,MinSize should be 2 or greater. MaxSize should...

### modmingestion ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
873,us-east-1,corral-modmingestion-innovate-App,0,0,0,3,EC2,modmingestion,MinSize should be 2 or greater. MaxSize should...
874,us-east-1,corral-modmingestion-production-App,0,8,0,3,EC2,modmingestion,MinSize should be 2 or greater.
875,us-east-1,corral-modmingestion-production-Appreplica,0,0,0,3,EC2,modmingestion,MinSize should be 2 or greater. MaxSize should...

### devtoolsprometheus ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
793,us-east-1,corral-devtoolsprometheus-production-efsbacked,0,2,0,3,EC2,devtoolsprometheus,MinSize should be 2 or greater.

### bakery ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
771,us-east-1,corral-bakery-production-app,0,1,0,3,EC2,bakery,MinSize should be 2 or greater.

### imedidata ASG Defects Details

,Region,ASG Name,min Size,max Size,Desired Size,AZ Count,Health Check Type,Product,Why Triggered
712,eu-central-1,corral-imedidata-innovate_eucentral1-app,0,0,0,2,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
713,eu-central-1,corral-imedidata-innovate_eucentral1-background,0,0,0,2,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
714,eu-central-1,corral-imedidata-innovate_eucentral1-cron,0,0,0,2,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
715,eu-central-1,corral-imedidata-production_eucentral1-App,0,0,0,2,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
716,eu-central-1,corral-imedidata-production_eucentral1-Background,0,0,0,2,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
717,eu-central-1,corral-imedidata-production_eucentral1-cron,0,0,0,2,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
815,us-east-1,corral-imedidata-bolt-app,0,0,0,3,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
816,us-east-1,corral-imedidata-bolt-background,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
817,us-east-1,corral-imedidata-bolt-cron,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
818,us-east-1,corral-imedidata-bolt-notification,0,0,0,3,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
819,us-east-1,corral-imedidata-innovate-MDSOL_VPC_CDSA_Notif...,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
820,us-east-1,corral-imedidata-innovate-VPC_App,0,0,0,3,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
821,us-east-1,corral-imedidata-innovate-VPC_CDSA_Notifications,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
822,us-east-1,corral-imedidata-innovate-VPC_SEA_Notifications,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
823,us-east-1,corral-imedidata-innovate-VPC_SE_Notifications,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
824,us-east-1,corral-imedidata-innovate-VPC_background,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
825,us-east-1,corral-imedidata-innovate-VPC_cron,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
826,us-east-1,corral-imedidata-innovate-VPC_notification,0,0,0,3,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
827,us-east-1,corral-imedidata-production-MDSOL_VPC_CDSA_Not...,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
828,us-east-1,corral-imedidata-production-VPC_App,0,0,0,3,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
829,us-east-1,corral-imedidata-production-VPC_Background,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
830,us-east-1,corral-imedidata-production-VPC_CDSA_Notificat...,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
831,us-east-1,corral-imedidata-production-VPC_Cron,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
832,us-east-1,corral-imedidata-production-VPC_Notifications,0,0,0,3,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...
833,us-east-1,corral-imedidata-production-VPC_SEA_Notifications,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
834,us-east-1,corral-imedidata-production-VPC_SE_Notifications,0,0,0,3,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
978,us-west-2,corral-imedidata-innovateuswest2_uswest2-innov...,0,2,0,2,ELB,imedidata,MinSize should be 2 or greater.
979,us-west-2,corral-imedidata-innovateuswest2_uswest2-innov...,0,0,0,2,EC2,imedidata,MinSize should be 2 or greater. MaxSize should...
980,us-west-2,corral-imedidata-innovateuswest2_uswest2-innov...,0,0,0,2,ELB,imedidata,MinSize should be 2 or greater. MaxSize should...

### ASG Defects by Reason

                                                    count
Why Triggered
MinSize should be 2 or greater. MaxSize should ...    157
MinSize should be 2 or greater.                       116
MinSize should be 2 or greater. maxSize cannot ...      3
maxSize cannot be equal to or less than the des...      3

## RDS Defects

### RDS Defects Summary by Product and Engine

In [15]:
# Display RDS Defect Details
for index,row in summary_ha_df.iterrows():
    k = index
    if (k != "None") and (row['rds_count'] > 0):
        hdr = f"### {k} RDS Defects Details"
        df =rds_df.loc[(rds_df['Account Name'] == 'aws-red') & (rds_df['Product'] == k) ]
        df = df.drop(['Account Number', 'Subnet Count','Product', 'Account Name'], axis=1)
        display(md(hdr))
        display(df)

### dalton RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1148,us-east-1,dalton-graph-innovate,False,NaN,neptune,False,RDS does not have multiAZ.
1149,us-east-1,dalton-graph-innovate3,False,NaN,neptune,False,RDS does not have multiAZ.
1150,us-east-1,dalton-graph-innovate-us-east-1c,False,NaN,neptune,False,RDS does not have multiAZ.
1151,us-east-1,dalton-graph-production,False,NaN,neptune,False,RDS does not have multiAZ.
1152,us-east-1,dalton-graph-production2,False,NaN,neptune,False,RDS does not have multiAZ.
1153,us-east-1,dalton-graph-production3,False,NaN,neptune,False,RDS does not have multiAZ.
1154,us-east-1,dalton-graph-production4,False,NaN,neptune,False,RDS does not have multiAZ.
1155,us-east-1,dalton-graph-production5,False,NaN,neptune,False,RDS does not have multiAZ.
1156,us-east-1,dalton-graph-production-us-east-1c,False,NaN,neptune,False,RDS does not have multiAZ.

### Data Fabric Semantic API RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1157,us-east-1,data-fabric-semantic-api-innovate-instance-0,False,NaN,neptune,False,RDS does not have multiAZ.
1158,us-east-1,data-fabric-semantic-api-innovate-instance-1,False,NaN,neptune,False,RDS does not have multiAZ.
1159,us-east-1,data-fabric-semantic-api-innovate-instance-2,False,NaN,neptune,False,RDS does not have multiAZ.
1160,us-east-1,data-fabric-semantic-api-production-instance-0,False,NaN,neptune,False,RDS does not have multiAZ.
1161,us-east-1,data-fabric-semantic-api-production-instance-1,False,NaN,neptune,False,RDS does not have multiAZ.
1162,us-east-1,data-fabric-semantic-api-production-instance-2,False,NaN,neptune,False,RDS does not have multiAZ.

### coder RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1144,eu-central-1,coder-eu-production,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1172,us-east-1,mdd3e420d54c66d,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1174,us-east-1,mdd498fb98d725b,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1178,us-east-1,mdd684ddb83f11c,False,NaN,sqlserver-web,False,RDS does not have multiAZ.

### shadowbroker RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1169,us-east-1,mdd18bd787f7271,False,NaN,sqlserver-se,False,RDS does not have multiAZ.
1173,us-east-1,mdd494edaa5ee45,False,NaN,sqlserver-se,False,RDS does not have multiAZ.
1177,us-east-1,mdd59d9876af3df,False,NaN,sqlserver-se,False,RDS does not have multiAZ.
1184,us-east-1,mddc5972001ef62,False,NaN,sqlserver-se,False,RDS does not have multiAZ.

### ampridatvir RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1175,us-east-1,mdd4f40f1b0048c,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1186,us-east-1,mddd4310a655144,False,NaN,sqlserver-web,False,RDS does not have multiAZ.

### coderoutbound RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1179,us-east-1,mdd7312d5bd803d,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1180,us-east-1,mdd980220225eaf,False,NaN,sqlserver-web,False,RDS does not have multiAZ.

### csaservice RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1146,us-east-1,csaservice-innovate-c1e2ec24,False,csaservice_innovate,aurora-postgresql,False,RDS does not have multiAZ.
1147,us-east-1,csaservice-production-aa05b018,False,csaservice_production,aurora-postgresql,False,RDS does not have multiAZ.

### juiblex RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1176,us-east-1,mdd568400ad4504,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1185,us-east-1,mddc82f611123c7,False,NaN,sqlserver-web,False,RDS does not have multiAZ.

### rods RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1190,us-east-1,rods-innovate-instance-1,False,NaN,aurora-postgresql,False,RDS does not have multiAZ.
1192,us-east-1,rods-production-instance-1,False,NaN,aurora-postgresql,False,RDS does not have multiAZ.

### slap RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1170,us-east-1,mdd2233009d5e50,False,NaN,sqlserver-web,False,RDS does not have multiAZ.
1187,us-east-1,mddef3e69d9979c,False,NaN,sqlserver-web,False,RDS does not have multiAZ.

### sloginator RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1171,us-east-1,mdd3487646c0a6b,False,NaN,sqlserver-se,False,RDS does not have multiAZ.
1183,us-east-1,mddab9fa31f6cf7,False,NaN,sqlserver-se,False,RDS does not have multiAZ.

### crunch RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1145,us-east-1,crunch-innovate-483bf975,False,crunch_innovate,aurora-postgresql,False,RDS does not have multiAZ.

### diagnosesupportportal RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1181,us-east-1,mdd9c7dec6f3055,False,NaN,sqlserver-web,False,RDS does not have multiAZ.

### harpy RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1182,us-east-1,mdda02ae620058b,False,NaN,sqlserver-se,False,RDS does not have multiAZ.

### neobo4 RDS Defects Details

,Region,DB Instance Identifier,Read Replica,DB Name,Engine,Multi-AZ,Why Triggered
1188,us-east-1,nro1ie9snxcjq8,False,NaN,sqlserver-ee,False,RDS does not have multiAZ.

# ELB Defects

**QUESTION:**
- What are these Product codes and are they important?

In [16]:
#
for index,row in summary_ha_df.iterrows():
    k = index
    if (k != "None") and (row['elb_count'] > 0):
        hdr = f"### {k} ELB Defects Details"
        df =elbv2_df.loc[(elbv2_df['Account Name'] == 'aws-red') & (elbv2_df['Product'] == k) ]
        df = df.drop(['Account Number', 'Product', 'Account Name'], axis=1)
        display(md(hdr))
        display(df)

### infoblox ELB Defects Details

,Region,Load Balancer Name,DNS Name,Scheme,VPC ID,LB Type,AZ Count,Why Triggered
2,us-east-1,infoblox-production,infoblox-production-d749758dde761f01.elb.us-ea...,internet-facing,vpc-04e10c60,network,1,MultiAZ requires at least 2 Availability Zones.

### security ELB Defects Details

,Region,Load Balancer Name,DNS Name,Scheme,VPC ID,LB Type,AZ Count,Why Triggered
1,us-east-1,insightvm-production,insightvm-production-824935b0621f330b.elb.us-e...,internet-facing,vpc-04e10c60,network,1,MultiAZ requires at least 2 Availability Zones.

# Kinesis Defects

**NOTES:**
-

In [17]:
#
for index,row in summary_ha_df.iterrows():
    k = index
    if (k != "None") and (row['kin_count'] > 0):
        hdr = f"### {k} Kinesis Defects Details"
        df =kinesis_df.loc[(kinesis_df['Account Name'] == 'aws-red') & (kinesis_df['Product'] == k) ]
        df = df.drop(['Account Number', 'Product', 'Account Name'], axis=1)
        display(md(hdr))
        display(df)

### subjectdataintegration Kinesis Defects Details

,Region,Stream Name,Stream Status,Shard Count,Retention Period Hours,Why Triggered
123,us-east-1,subject_data_integration_processed_innovate,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
124,us-east-1,subject_data_integration_processed_production,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
125,us-east-1,subject_data_integration_unprocessed_innovate,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
126,us-east-1,subject_data_integration_unprocessed_production,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...

### milestone Kinesis Defects Details

,Region,Stream Name,Stream Status,Shard Count,Retention Period Hours,Why Triggered
117,us-east-1,milestone_publisher_innovate,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
118,us-east-1,milestone_publisher_output_innovate,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
119,us-east-1,milestone_publisher_output_production,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
120,us-east-1,milestone_publisher_production,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...

### appconnect Kinesis Defects Details

,Region,Stream Name,Stream Status,Shard Count,Retention Period Hours,Why Triggered
110,us-east-1,appconnect_innovate,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
111,us-east-1,appconnect_production,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...

### mingest Kinesis Defects Details

,Region,Stream Name,Stream Status,Shard Count,Retention Period Hours,Why Triggered
121,us-east-1,mingest-innovate-modm,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...
122,us-east-1,mingest-production-modm,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...

### medistrano Kinesis Defects Details

,Region,Stream Name,Stream Status,Shard Count,Retention Period Hours,Why Triggered
114,us-east-1,medistrano_event_stream,ACTIVE,1,24,Kinesis should have > 1 shard...currently 1 sh...

# ECS Defects

**NOTES:**
- There are no ECS Records in this run with errors

In [18]:
ecs_df

Empty DataFrame
Columns: [Account Name, Account Number, Region, Cluster Name, Cluster Status, Registered Container Instance Count, Active Service Count, Capacity Providers, Service Name, Service Status, Placement Constraints, Placement Strategy, Desired Count, Enabled ECSManaged Tags, Product, Why Triggered ]
Index: []